.paciente-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.paciente-profile-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.paciente-profile-container p {
  font-size: 1.5rem;
  margin: 10px 0;
}
